<!DOCTYPE html>
<html>
<head>
    <title>Modo 2</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    
    <h1 class="h2">ENVIO DE CÓDIGO FEMME9</h1>
    <form class="form2" action="/automação/modo2.py" method="post" enctype="multipart/form-data">
        
        <div class="input">
            <label for="excel_file">ESCOLHER ARQUIVO</label>
            <input type="file" name="excel_file" id="excel_file"><br>
            <label for="Enviar_Excel">SALVAR E ENVIAR</label>
            <input type="submit" value="Enviar_Excel" id="Enviar_Excel">  
        </div>
        <a href="/">Voltar à Página Inicial</a>
    </form>
   
</body>
</html>
