body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;

}

.form2 {
    text-align: center;
  }
  
  .h2 {
  margin-top: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  color: antiquewhite;
  animation: pulse 1s ease-in-out 0s infinite alternate;

  }
  
  .input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -30px;
  }

 .input input {
    display: block;
    margin-bottom: 10px;
  }

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    max-width: 350px; /* Defina um valor menor para limitar a largura máxima */
    margin: 60px auto; /* Adiciona margens automáticas nas laterais para centralizar o formulário */
    padding: 20px;
    background-color: #332F2E;
    border-radius: 10px;
    box-shadow: 0.5px 3px 4px rgba(255, 255, 255, 0.3),  0 -4px 4px rgba(255, 255, 255, 0.3);
    font-family: "Arial Rounded", sans-serif; 
    font-size: 14px;
    margin-top: -10px;
}



input[type="file"]{
  display: none;
}
input[type="submit"]{
  display: none;
}

label[for="excel_file"] {
  padding-top: 20px;
  width: 200px;
  height: 20px;
  background-color: #0f0909;
  color: #e7e7e7ea;
  display: block;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  border-radius: 10px;
  text-align: center;
  line-height: 1%;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

label[for="Enviar_Excel"] {
  padding-top: 15px;
  width: 180px;
  height: 15px;
  background-color: #0f0909;
  color: #e7e7e7ea;
  display: block;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  border-radius: 10px;
  text-align: center;
  line-height: 1%;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

label[for="excel_file"]:hover{
  background-color: aliceblue;
  transform: scale(1.2); 
  color: black;
}

label[for="Enviar_Excel"]:hover{
  background-color: aliceblue;
  transform: scale(1.2); 
  color: black;
}

a{
  padding-top: 15px;
  width: 180px;
  height: 15px;
  background-color: #0f0909;
  color: #e7e7e7ea;
  display: block;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  border-radius: 10px;
  text-align: center;
  line-height: 1%;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
}

a:hover{
  background-color: aliceblue;
  transform: scale(1.2); 
  color: black;
}


@keyframes title-animation {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}